#form-div {
    font-family: 'Graphik', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background-color: #e6dcff; /* Accent Purple 5 */
    border-radius: 10px;
    text-align: left;
}

h2 {
    color: #460073; /* Core Purple 2 */
    font-size: 28px;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #460073; /* Core Purple 2 */
}

input {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #460073; /* Core Purple 2 */
    border-radius: 5px;
    font-size: 16px;
}