body {
    color: black;
}

#navbar {
    background-color: #460073;
    overflow: hidden;
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
}
  
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar p {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 0px 16px;
}

#navbar a:hover {
    background-color: #7500c0;
}

.HubBanner {
    width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.PurpleHubBanner {
    width: 1100px;
    height: 210px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

  button[type="submit"] {
    background-color: #460073; /* Core Purple 2 */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increase font size */
  }

  button[type="submit"]:hover {
    background-color: #7500c0; /* Core Purple 1 on hover */
  }