#navbar {
    background-color: #f2f2f2;
    overflow: hidden;
}
  
#navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar p {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.HubBanner {
    width: 1200px;
    height: auto;
}

.PurpleHubBanner {
    width: 1200px;
    height: 250px;
}